<style style="display: none;">

#new-jokes-link, #new-jokes-link-m {
  text-decoration: underline;
}

</style>

<%= javascript_include_tag 'random_jokes' %>


<tooltip id="reloader_details" class="hidden">Reload all jokes</tooltip>

<button id="reload_all_jokes" class="btn-floating grey lighten-3 f-largest" onclick=reloadAll()>
&#8634;

</button>


<section id="new-jokes" class="column">

<div class="flex-wrap">

<% if @random_dad_joke.present? %>

  <%= form_with model: Joke.new, url: jokes_path, local: true, html: {id: "dad-joke-form", 'data-remote': "true", 'data-api-url': "/new_dad_joke", class: "card joke-card column"} do |form| %>
    <span class="f-large bold">From: <a href="https://icanhazdadjoke.com/api" target="_blank">icanhazdadjoke.com</a></span>
    <div class="w-100 card-content grey lighten-3">
    <%= @random_dad_joke %>
    </div>
    <%= form.hidden_field :content, value: @random_dad_joke %>
    <%= form.hidden_field :source, value: 'dad' %>
    <div class="justify-around w-100 funny-or-not">
        <%= form.button raw('&#8634;'), type: 'submit', onclick: "handleRefreshJoke(event)", class: "btn-floating grey lighten-3 border f-large" %>
      <%= form.button "😆", type: 'submit', onclick: "handleFormSubmit(event)", class: "btn-floating green lighten-2 border f-large" %>
    </div>
    <div id="save-success" class="save-success hidden">saved</div>
  <% end %>

<% else %>

  <p>Error: Sometimes a Dad joke is so bad, even the API refuses to serve them.</p>

<% end %>


<% if @random_jokeapi_joke.present? %>

  <%= form_with model: Joke.new, url: jokes_path, local: true, html: {id: "jokeapi-joke-form", 'data-remote': "true", 'data-api-url': "/new_jokeapi_joke", class: "card joke-card column"} do |form| %>
    <span class="f-large bold">From: <a href="https://jokeapi.dev/" target="_blank">jokeapi.dev</a></span>
    <div class="w-100 card-content grey lighten-3">
      <%= @random_jokeapi_joke %>
    </div>
    <%= form.hidden_field :content, value: @random_jokeapi_joke %>
    <%= form.hidden_field :source, value: 'jokesAPI' %>
    <div class="justify-around w-100 funny-or-not">
        <%= form.button raw('&#8634;'), type: 'submit', onclick: "handleRefreshJoke(event)", class: "btn-floating grey lighten-3 f-large" %>
      <%= form.button "😆", type: 'submit', onclick: "handleFormSubmit(event)", class: "btn-floating green lighten-1 f-large" %>
    </div>
  <% end %>

<% else %>
  <p>Error: JokeAPI didn't return 200. It must be kidding.</p>
<% end %>

</div>

<div class="flex-wrap align-start">

<% if @random_official_joke.present? %>

  <%= form_with model: Joke.new, url: jokes_path, local: true, html: {id: "official-joke-form", 'data-remote': "true", 'data-api-url': "/new_official_joke", class: "card joke-card column"} do |form| %>
    <span class="f-large bold">From: <a href="https://official-joke-api.appspot.com/random_joke" target="_blank">official-joke-api</a></span>
    <div class="w-100 card-content grey lighten-3">
      <%= @random_official_joke %>
    </div>
    <%= form.hidden_field :content, value: @random_official_joke %>
    <%= form.hidden_field :source, value: 'officialJokesAPI' %>
    <div class="justify-around w-100 funny-or-not">
        <%= form.button raw('&#8634;'), type: 'submit', onclick: "handleRefreshJoke(event)", class: "btn-floating grey lighten-3 f-large" %>
      <%= form.button "😆", type: 'submit', onclick: "handleFormSubmit(event)", class: "btn-floating green lighten-1 f-large" %>
    </div>
  <% end %>

<% else %>
  <p>Error: The Official Joke API is officially a joke. It returned a bad response, sorry!.</p>
<% end %>

<% if @random_geek_joke.present? %>

  <%= form_with model: Joke.new, url: jokes_path, local: true, html: {id: "geek-joke-form", 'data-remote': "true", 'data-api-url': "/new_geek_joke", class: "card joke-card column"} do |form| %>
    <span class="f-large bold">From: <a href="https://geek-jokes.sameerkumar.website/api" target="_blank">geek-jokes.sameerkumar</a></span>
    <div class="w-100 card-content grey lighten-3">
      <%= @random_geek_joke %>
    </div>
    <%= form.hidden_field :content, value: @random_geek_joke %>
    <%= form.hidden_field :source, value: 'geek' %>
    <div class="justify-around w-100 funny-or-not">
        <%= form.button raw('&#8634;'), type: 'submit', onclick: "handleRefreshJoke(event)", class: "btn-floating grey lighten-3 f-large" %>
      <%= form.button "😆", type: 'submit', onclick: "handleFormSubmit(event)", class: "btn-floating green lighten-1 f-large" %>
    </div>
  <% end %>

<% else %>
  <p>Error: The geeks at geek-jokes messed up. Bad response.</p>
<% end %>

</div>
</section>