
<%= stylesheet_link_tag 'rehearse' %>
<%= javascript_include_tag 'rehearse' %>



<section id="sets-with-jokes-widget" class="card flip-axis-col">
  <div id="sets-and-form-container" class="column w-100 container">
    <ul id="set-list">
        <% if @standup_sets.present? %>
      <% @standup_sets.each do |standup_set| %>
        <% if standup_set == @standup_sets[0] %>
          <li class="set-item selected" data-set-id="<%= standup_set.id %>" data-url="<%= standup_set_path(standup_set) %>">
            <%= standup_set.name.capitalize %>
          </li>
        <% else %>
          <li class="set-item" data-set-id="<%= standup_set.id %>" data-url="<%= standup_set_path(standup_set) %>">
            <%= standup_set.name.capitalize %>
          </li>
          <% end %>
        <% end %>
    <% end %>

    </ul>
    
    <%= form_with(model: StandupSet.new, local: true, html: { id: "create-set-form", class: "rows" }) do |form| %>
      <%= form.text_field :name, placeholder: "Name your set here." %>
      <%= form.submit "Create", class: "btn green lighten-2" %>
    <% end %>
    
    
  </div>

  <div id="set-jokes-container" class="column w-100 container">
    <ul id="current-set-jokes">
      <% if @standup_sets.present? %>
      <% if @standup_sets.first.jokes.present? %>
        <% @standup_sets.each do |standup_set| %>
          <% if standup_set == @standup_sets.first %>
            <% standup_set.jokes.each do |joke| %>
              <li class="justify-between align-center flip-axis-col">
                <span class="set-joke-content"><%= joke.content %></span>
                <button class="btn unassign-btn joke-btn" id=<%= joke.id %> data-id=<%= joke.id %> data-content="<%= joke.content %>" data-url="<%= add_joke_standup_set_path(@standup_sets.first, joke_id: joke.id) %>" onclick="removeJokeFromCurrentSet(event)">unassign</button>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
              <span id="empty-set">This set is empty. Assign some jokes from below!</span>
      <% end %>
      <% else %>
        <span id="empty-set">Create your first set. Then add jokes by laugh reacting on the Discover page!</span>
      <% end %>
    </ul>
  </div>
</section>

  




  <section id="saved-jokes" data-no-jokes-image-path="<%= asset_path('no-jokes.gif') %>">
  <% if @jokes.present? %>
    <% @jokes.group_by(&:source).each do |source, jokes| %>
      <span class="f-large bold">My <%= source %> jokes</span>
      <ol id="joke-list" class="w-100 column justify-center card">
        <% jokes.each do |joke| %>
          <li class="w-100 joke-list-item flip-axis-col align-center">

            <span class="joke-list-content w-100">
            <%= joke.content %> 
            </span>
            
            <% if @standup_sets.present? %>
              <% if @standup_sets.first.jokes.include?(joke) %>
              <button class="btn unassign-btn joke-btn" id=<%= joke.id %> data-content="<%= joke.content %>" data-id=<%= joke.id %> data-url="<%= add_joke_standup_set_path(@standup_sets.first, joke_id: joke.id) %>" onclick="removeJokeFromCurrentSet(event)">unassign</button>
              <% else %>
              <button class="btn assign-btn joke-btn" data-id="<%= joke.id %>" data-content="<%= joke.content %>" data-url="<%= add_joke_standup_set_path(@standup_sets.first, joke_id: joke.id) %>" onclick="assignJokeToCurrentSet(event)">assign </button>
              <% end %>
            <% end %>
            <button class="btn red darken-2 joke-btn" data-id="<%= joke.id %>" data-url="<%= joke_path(joke) %>" data-confirm="Are you sure? This can not be undone." onclick="handleDeleteJokeClick(event)">delete</button>
          
          </li>

        <% end %>
      </ol>

  <% end %>
  
  <button class="btn red darken-3" onclick=handleDeleteAllJokesClick(event)>Delete all jokes</button>

 <% else %>
 <div class="column w-100 align-center">
  <image id="no-jokes-img" src="<%= asset_path('no-jokes.gif') %>">
  <span id="no-saved-jokes" class="w-100 justify-center">Your saved jokes will appear here.</span>
  </div>
<% end %>




</section>