<!DOCTYPE html>
<html>
  <head style="display: none;">
    <title>Standup Studio</title>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('microphone.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/microphone.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

  <body class="bg-primary">
    <% flash.each do |key, value| %>
      <div class="alert"><%= value %></div>
    <% end %>
    <header class="align-center">
      <nav class="container no-shadow flip-direction align-center justify-between">
        <div class="f-largest">
          <%= link_to "Standup Studio", root_path, style: 'vertical-align: middle;' %>
        </div>
        <div id="nav-links" class="flip-direction f-large justify-between">
          <%= link_to "Discover", root_path, id: "new-jokes-link" %>
          <%= link_to "Rehearse", jokes_path, id: "set-link" %>
          <%= link_to "Perform", jokes_path, id: "comedy-clubs-link" %>
        </div>
      </nav>
    </header>
    

    <main class="bg-light">
    <div id="main-content" class="container">
    <div id="nav-links-mobile" class="f-large container rows justify-evenly">
      <div>
        <%= link_to "Discover", root_path, id: "new-jokes-link-m" %>
      </div>
      <div>
        <%= link_to "Rehearse", jokes_path, id: "set-link-m" %>
      </div>
      <div>
        <%= link_to "Perform", jokes_path, id: "comedy-clubs-link-m" %>
      </div>
    </div>
    <%= yield %>
    </div>
    </main>
    <footer>
    <nav class="container no-shadow">
      <ul id="nav-mobile" class="row justify-center">
        <li>
          <a href="https://www.linkedin.com/in/russellmolimock/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
        <a href="https://github.com/Rmolimock/" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </nav>
    </footer>
  </body>
</html>
